@keyframes inside {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  width: 1031px;
  margin: 0 auto;
  height: fit-content;
  min-height: 100%;
  box-sizing: unset;
  padding: 90px 0 90px 183px;
  animation: inside 0.2s ease-in;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f5f6f8;
  --main: #1963e8;
  --blue900: #001437;
  --blue800: #00266a;
  --blue700: #0c4cbf;
  --blue600: #1963e8;
  --blue500: #4782ed;
  --blue400: #75a1f1;
  --blue300: #a3c1f6;
  --blue200: #d1e0fa;
  --blue100: #e8effd;
  --gray600: #292c2e;
  --gray500: #54585a;
  --gray400: #949494;
  --gray300: #c3c3c3;
  --gray200: #dbdbdb;
  --gray100: #f5f6f8;
  --blue600: #1963e8;
  --blue100: #e8effd;
  --red600: #dd6540;
  --red100: #fcf0ec;

  font {
    text-size-adjust: none;
  }

  font[size="1"] {
    font-size: 13px;
  }

  font[size="2"] {
    font-size: 15px;
  }

  font[size="3"] {
    font-size: 17px;
  }

  font[size="4"] {
    font-size: 19px;
  }

  font[size="5"] {
    font-size: 21px;
  }

  font[size="6"] {
    font-size: 23px;
  }

  font[size="7"] {
    font-size: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  box-sizing: border-box;
  font-family: "pretendard", sans-serif !important;
}

html,
body {
  background-color: #f5f6f8;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "pretendard", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button,
a {
  cursor: pointer;
  color: black;
  transition: 0.2s ease-in-out;
}

button:hover,
a:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.none {
  display: none !important;
}

input,
p,
textarea {
  resize: none;
  font-family: "pretendard", sans-serif;
  padding: 0 16px;

  &::placeholder {
    font-weight: 400;
    font-size: 13px;
    font-family: "pretendard", sans-serif;
    color: #949494;
  }

  &:focus {
    outline: none;
  }
}

// @media screen and (min-width: 1440px) {}

// @media screen and (max-width: 1439px) and (min-width: 768px) {}

// @media screen and (max-width: 767px) {}
