.education-silde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.education-silde .silde-view {
  padding-top: 70px;
  z-index: 1;
}
.education-silde .silde-view > img {
  width: 648px;
}
.education-silde .computer {
  position: absolute;
  top: -50px;
  left: 228px;
}
.education-silde .preview-container {
  padding-top: 146px;
  width: 1328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}
.education-silde .preview-container .preview-image {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.education-silde .preview-container .preview-image img {
  width: 300px;
  height: auto;
}
.education-silde .preview-container::-webkit-scrollbar {
  display: none;
}
.education-silde .scrollbar {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 5px;
  background-color: #c7c7c7;
  border-radius: 3px;
  overflow: hidden;
}
.education-silde .scrollbar .activebar {
  position: absolute;
  top: 0;
  width: 280px;
  height: 5px;
  background-color: #8e54e9;
  border-radius: 3px;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

@media screen and (max-width: 1439px) {
  .education-silde {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .education-silde .computer {
    width: 808px;
    position: absolute;
    top: -30px;
    left: -41px;
  }
  .education-silde .preview-container {
    padding-top: 146px;
    width: 768px;
  }
  .education-silde .preview-container .preview-image img {
    width: 174px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .education-silde {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .education-silde .silde-view {
    padding-top: 70px;
    z-index: 1;
  }
  .education-silde .silde-view > img {
    width: 250px;
  }
  .education-silde .computer {
    width: 320px;
    position: absolute;
    top: 30px;
    left: 12px;
  }
  .education-silde .preview-container {
    padding-top: 85px;
    width: 360px;
  }
  .education-silde .preview-container .preview-image img {
    width: 107px;
    height: auto;
  }
  .education-silde .scrollbar .activebar {
    width: 140px;
  }
}