#root .mb {
  display: none;
}
#root .tablet {
  display: none;
}
#root .education-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  padding-top: 140px;
  background-color: white;
}
#root .education-page .title-wrapper {
  margin-bottom: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#root .education-page .title-wrapper > .title {
  font-size: 15px;
  font-weight: 800;
  color: #8e54e9;
  margin-bottom: 4px;
}
#root .education-page .title-wrapper > .color {
  color: var(--blue, #4776e6);
}
#root .education-page .title-wrapper > .text {
  color: #283063;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  line-height: 140%;
  margin-bottom: 16px;
}
#root .education-page .title-wrapper .white {
  color: white;
}
#root .education-page .title-wrapper > .sub {
  color: #283063;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
#root .education-page .title-wrapper .white {
  color: white;
}
#root .education-page .section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  height: 690px;
}
#root .education-page .section .video-section {
  z-index: 10;
}
#root .education-page .section .video-section > video {
  top: 140px;
  right: 95px;
  width: 645px;
  position: absolute;
}
#root .education-page .section .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
}
#root .education-page .section .left > img {
  width: 253px;
}
#root .education-page .section .left > .title {
  font-family: stratum2 !important;
  font-size: 50px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1px;
}
#root .education-page .section .left .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}
#root .education-page .section .left .contact > img {
  width: 79px;
}
#root .education-page .section .left .contact > .text {
  margin-right: 16px;
  color: #283063;
  font-size: 18px;
  font-weight: 700;
}
#root .education-page .section .right {
  z-index: 1;
}
#root .education-page .section .back {
  right: -140px;
  position: absolute;
}
#root .education-page .section1 {
  padding-top: 67px;
  width: 100%;
}
#root .education-page .section1 > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 677px;
  background-image: url(/public/assets/education/pc/section1-background.png);
  background-image: -webkit-image-set(url(/public/assets/education/pc/section1-background.png) 1x, url(/public/assets/education/pc/section1-background@2x.png) 2x, url(/public/assets/education/pc/section1-background@3x.png) 3x);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#root .education-page .section1 > .wrapper > img {
  width: 96px;
  margin-bottom: 8px;
}
#root .education-page .section1 > .wrapper > .text {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 15px;
}
#root .education-page .section1 > .wrapper > .sub {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
#root .education-page .section2 {
  height: 2291px;
  padding-top: 158px;
}
#root .education-page .section2 .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#root .education-page .section2 .title-wrapper > .title {
  font-size: 15px;
  font-weight: 800;
  color: #8e54e9;
  margin-bottom: 4px;
}
#root .education-page .section2 .title-wrapper > .text {
  color: #283063;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  line-height: 140%;
  margin-bottom: 16px;
}
#root .education-page .section2 .title-wrapper > .sub {
  color: #283063;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
#root .education-page .section2 > .wrapper {
  width: 1140px;
  padding-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 200px;
}
#root .education-page .section2 > .wrapper .box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}
#root .education-page .section2 > .wrapper .box-wrapper .number {
  color: var(--violet, #8e54e9);
  font-family: stratum2 !important;
  font-size: 100px;
  font-weight: 500;
}
#root .education-page .section2 > .wrapper .box-wrapper .left > .title {
  color: #283063;
  font-size: 30px;
  font-weight: 800;
  line-height: 140%;
  margin-bottom: 4px;
}
#root .education-page .section2 > .wrapper .box-wrapper .left > .text {
  color: #283063;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
}
#root .education-page .section2 > .wrapper .last {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#root .education-page .section3 {
  padding-top: 157px;
  width: 100%;
  height: 1342px;
  background-color: #f8f8f8;
}
#root .education-page .section3 > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#root .education-page .section3 > .wrapper > img {
  width: 825px;
}
#root .education-page .section4 {
  padding-top: 157px;
  width: 100%;
  height: 1599px;
  position: relative;
}
#root .education-page .section4 > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 120px;
}
#root .education-page .section4 > .wrapper .content-wrapper > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 85px;
}
#root .education-page .section4 > .wrapper .content-wrapper > .title > .top {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 146px;
  height: 38px;
  border-radius: 50px;
  color: white;
  background-color: #8e54e9;
  font-size: 16px;
  font-weight: 800;
}
#root .education-page .section4 > .wrapper .content-wrapper > .title .blue {
  background-color: #4776e6;
}
#root .education-page .section4 > .wrapper .content-wrapper > .title > .text {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
#root .education-page .section4 .linear {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 419px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(71, 118, 230, 0.31)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(360deg, rgba(71, 118, 230, 0.31) 0%, rgba(255, 255, 255, 0) 100%);
}
#root .education-page .section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
  padding-top: 194px;
  background: #283063;
  height: 1837px;
}
#root .education-page .section5 .section5-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  height: 1150px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#root .education-page .section5 .section5-wrapper > .left > .title {
  margin-bottom: 37px;
}
#root .education-page .section5 .section5-wrapper > .left > .title .line {
  width: 540px;
  height: 2px;
  background-color: white;
  margin-bottom: 12px;
}
#root .education-page .section5 .section5-wrapper > .left > .title > .text {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
#root .education-page .section5 .section5-wrapper > .left > .title > .text > span {
  font-weight: 800;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 70px;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box .name-wrapper > .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 107px;
  height: 107px;
  background-color: #4776e6;
  border-radius: 50%;
  margin-bottom: 10px;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box .name-wrapper > .img > img {
  width: 62px;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box .name-wrapper .right {
  background-color: #8e54e9;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box .name-wrapper > .name {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box .text-wrapper {
  position: relative;
  padding: 24px;
  width: 391px;
  height: 129px;
  background-color: white;
  border-radius: 20px;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box .text-wrapper > .text {
  color: #283063;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .box .text-wrapper:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 14px 25px 14px 0;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  left: -25px;
  top: 46px;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .big .text-wrapper {
  height: 169px;
}
#root .education-page .section5 .section5-wrapper > .left .content-wrapper .big .text-wrapper:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 14px 25px 14px 0;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  left: -25px;
  top: 70px;
}
#root .education-page .section5 .view-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#root .education-page .section5 .view-arrow {
  background: none;
  margin-top: 70px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 163px;
  height: 49px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
#root .education-page .section5 .view-arrow > .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
#root .education-page .section5 .view-arrow .img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#root .education-page .section5 .view-arrow > img {
  width: 23px;
}
#root .education-page .section6 {
  width: 100%;
  padding-top: 160px;
  background-color: #f8f8f8;
  height: 900px;
  -webkit-column-gap: 76px;
     -moz-column-gap: 76px;
          column-gap: 76px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#root .education-page .section6 > .left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#root .education-page .section6 > .left .left-wrapper {
  margin-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#root .education-page .section6 > .left .left-wrapper > .title {
  font-size: 15px;
  font-weight: 800;
  color: #8e54e9;
  margin-bottom: 4px;
}
#root .education-page .section6 > .left .left-wrapper > .color {
  color: var(--blue, #4776e6);
}
#root .education-page .section6 > .left .left-wrapper > .text {
  color: #283063;
  text-align: left;
  font-size: 35px;
  font-weight: 800;
  line-height: 140%;
  margin-bottom: 16px;
}
#root .education-page .section6 > .left .left-wrapper .white {
  color: white;
}
#root .education-page .section6 > .left .left-wrapper > .sub {
  color: #283063;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
#root .education-page .section6 > .left .left-wrapper .white {
  color: white;
}
#root .education-page .section6 > .left > .title {
  width: 447px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
#root .education-page .section6 > .left > .title .middle > .text {
  color: #283063;
  font-size: 18px;
  font-weight: 800;
}
#root .education-page .section6 > .left > .title .middle > .line {
  margin-bottom: 8px;
  height: 1px;
  background-color: #283063;
  width: 207px;
}
#root .education-page .section6 > .right {
  padding-top: 100px;
}
#root .education-page .section6 > .right > .box {
  width: 710px;
  height: 446px;
  background-color: black;
  border-radius: 10px;
}
#root .education-page .section6 > .right > .box > video {
  padding: 0px 10px;
  width: 710px;
  height: 446px;
}
#root .education-page .section7 {
  padding-top: 150px;
  height: 862px;
}
#root .education-page .section7 .section7-wrapper {
  padding: 40px 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 880px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 71px;
}
#root .education-page .section8 {
  width: 100%;
  height: 1377px;
}
#root .education-page .section8 > .background {
  padding-top: 135px;
  width: 100%;
  height: 419px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(142, 84, 233, 0.12)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(142, 84, 233, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
}
#root .education-page .section8 > .background > .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#root .education-page .section8 > .background > .question > .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 169px;
     -moz-column-gap: 169px;
          column-gap: 169px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}
#root .education-page .section8 > .background > .question > .title-wrapper > .left > .title {
  font-size: 35px;
  font-weight: 700;
  line-height: 150%;
}
#root .education-page .section8 > .background > .question > .title-wrapper > .left > .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#root .education-page .section8 > .background > .question .input-wrapper {
  padding-top: 79px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#root .education-page .section8 > .background > .question .input-wrapper > .left, #root .education-page .section8 > .background > .question .input-wrapper > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
#root .education-page .section8 > .background > .question .input-wrapper > .left .agreement-btn, #root .education-page .section8 > .background > .question .input-wrapper > .right .agreement-btn {
  margin-top: 5px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px;
  height: 50px;
  background-color: #f5f6f8;
  font-weight: bold;
}
#root .education-page .section8 > .background > .question .input-wrapper > .left .agreement-btn .left, #root .education-page .section8 > .background > .question .input-wrapper > .right .agreement-btn .left {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #949494;
}
#root .education-page .section8 > .background > .question .input-wrapper > .left .agreement-btn .left > img, #root .education-page .section8 > .background > .question .input-wrapper > .right .agreement-btn .left > img {
  width: 20px;
  height: 20px;
}
#root .education-page .section8 > .background > .question .input-wrapper > .left .agreement-btn .left-check, #root .education-page .section8 > .background > .question .input-wrapper > .right .agreement-btn .left-check {
  border: unset;
}
#root .education-page .section8 > .background > .question .input-wrapper > .left .btn, #root .education-page .section8 > .background > .question .input-wrapper > .right .btn {
  width: 626px;
  height: 50px;
  background-color: #8e54e9;
  font-weight: 700;
  font-size: 16px;
  color: white;
}
#root .education-page .section8 > .background > .question .input-wrapper > .left .is-check-btn, #root .education-page .section8 > .background > .question .input-wrapper > .right .is-check-btn {
  background-color: #949494;
  cursor: unset;
  opacity: unset;
}
#root .education-page .section8 > .background > .question .text-box {
  padding: 20px;
  width: 1136px;
  height: 191px;
  background-color: #f5f6f8;
}
#root .education-page .section8 > .background > .question .text-box > .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
#root .education-page .section8 > .background > .question .text-box > .text {
  padding-bottom: 12px;
  border-bottom: 1px solid #dbdbdb;
  padding-left: 15px;
}
#root .education-page .section8 > .background > .question .text-box > .text > li {
  list-style: disc;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
#root .education-page .section8 > .background > .question .text-box > .content-wrapper {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#root .education-page .section8 > .background > .question .text-box > .content-wrapper > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#root .education-page .section8 > .background > .question .text-box > .content-wrapper > .content > img {
  width: 24px;
}
#root .education-page .section8 > .background > .question .text-box > .content-wrapper > .content > .text {
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
}
#root .education-page .view-wrapper {
  height: 3954px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1439px) {
  #root .tablet {
    display: block;
  }
  #root .education-page .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1592px;
  }
  #root .education-page .section .video-section {
    z-index: 10;
  }
  #root .education-page .section .video-section > video {
    top: 500px;
    right: 95px;
  }
  #root .education-page .section .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .education-page .section .left > img {
    width: 253px;
  }
  #root .education-page .section .left > .title {
    text-align: center;
  }
  #root .education-page .section .left .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
  }
  #root .education-page .section .right {
    width: 815px;
    z-index: 1;
    margin-right: 32px;
  }
  #root .education-page .section .back {
    width: 1000px;
    top: 1000px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #root .education-page .section2 {
    height: 3144px;
  }
  #root .education-page .section2 > .wrapper {
    padding-top: 92px;
    row-gap: 200px;
    width: 100%;
    padding: 0 20px;
  }
  #root .education-page .section2 > .wrapper .box-wrapper {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .education-page .section2 > .wrapper .box-wrapper .left {
    margin-bottom: 48px;
  }
  #root .education-page .section2 > .wrapper .box-wrapper .right {
    padding: 0 20px;
  }
  #root .education-page .section2 > .wrapper .last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .education-page .section4 {
    height: 1699px;
  }
  #root .education-page .section5 .mb-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #root .education-page .section5 .mb-title-wrapper > .text {
    width: 180px;
    margin-bottom: 48px;
    background: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: white;
    opacity: 0.4;
  }
  #root .education-page .section5 .mb-title-wrapper > .text > .line-text {
    margin-top: 14px;
    width: 100%;
    height: 3px;
    background-color: white;
  }
  #root .education-page .section5 .mb-title-wrapper > .text > span {
    font-weight: 800;
  }
  #root .education-page .section5 .mb-title-wrapper > .right {
    padding-right: unset;
  }
  #root .education-page .section5 .mb-title-wrapper > .hover {
    color: white;
    opacity: 1;
  }
  #root .education-page .section5 .content-wrapper .box {
    -webkit-column-gap: 43px;
       -moz-column-gap: 43px;
            column-gap: 43px;
  }
  #root .education-page .section6 {
    height: 1414px;
    padding-top: 147px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    width: 100%;
  }
  #root .education-page .section6 > .left {
    width: 768px;
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: column;
  }
  #root .education-page .section6 > .left .left-wrapper {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .education-page .section6 > .left .left-wrapper > .text {
    text-align: center;
  }
  #root .education-page .section6 > .left .left-wrapper > .sub {
    text-align: center;
  }
  #root .education-page .section6 > .left .left-wrapper .white {
    color: white;
  }
  #root .education-page .section6 > .left > .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
  }
  #root .education-page .section6 > .left > .title .middle > .line {
    width: 355px;
  }
  #root .education-page .section6 > .left > .title .middle .categoryfilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .education-page .section6 > .left > .title .middle .categoryfilter > button {
    width: 200px;
  }
  #root .education-page .section6 > .right {
    padding-top: 70px;
  }
  #root .education-page .section7 .section7-wrapper {
    width: 500px;
    row-gap: 20px;
  }
  #root .education-page .section8 {
    height: 1868px;
  }
  #root .education-page .section8 > .background > .question {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper {
    width: 100%;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 169px;
       -moz-column-gap: 169px;
            column-gap: 169px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .left > .title {
    font-size: 35px;
    font-weight: 700;
    line-height: 150%;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .left > .text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .right {
    margin-bottom: 42px;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .right > img {
    width: 195px;
  }
  #root .education-page .section8 > .background > .question .input-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .education-page .section8 > .background > .question .input-wrapper > .left {
    margin-bottom: 20px;
  }
  #root .education-page .section8 > .background > .question .input-wrapper > .left .agreement-btn {
    width: 100%;
  }
  #root .education-page .section8 > .background > .question .input-wrapper .right .btn {
    width: 100%;
  }
  #root .education-page .section8 > .background > .question .text-box {
    width: 100%;
    margin: 0 20px;
    padding: 20px;
    height: 191px;
    background-color: #f5f6f8;
  }
}
@media screen and (max-width: 767px) {
  #root .pc {
    display: none;
  }
  #root .tablet {
    display: none;
  }
  #root .mb {
    display: block;
  }
  #root .education-page .title-wrapper > .text {
    font-size: 20px;
  }
  #root .education-page .title-wrapper > .sub {
    font-size: 13px;
  }
  #root .education-page .section {
    height: 804px;
  }
  #root .education-page .section .video-section {
    z-index: 10;
  }
  #root .education-page .section .video-section > video {
    top: 330px;
    right: 288px;
    width: 284px;
  }
  #root .education-page .section .left > img {
    width: 150px;
  }
  #root .education-page .section .left > .title {
    font-size: 30px;
  }
  #root .education-page .section .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 815px;
    z-index: 1;
    margin-right: 32px;
  }
  #root .education-page .section .right > img {
    width: 364px;
  }
  #root .education-page .section .back {
    width: 400px;
    top: 530px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #root .education-page .section1 {
    padding-top: 67px;
    width: 100%;
  }
  #root .education-page .section1 > .wrapper {
    height: 379px;
  }
  #root .education-page .section1 > .wrapper > img {
    width: 70px;
  }
  #root .education-page .section1 > .wrapper > .text {
    text-align: center;
    font-size: 24px;
  }
  #root .education-page .section1 > .wrapper > .sub {
    text-align: center;
    font-size: 14px;
  }
  #root .education-page .section2 {
    height: 1908px;
  }
  #root .education-page .section2 .title-wrapper > .text {
    font-size: 20px;
  }
  #root .education-page .section2 .title-wrapper > .sub {
    font-size: 13px;
  }
  #root .education-page .section2 > .wrapper {
    padding-top: 92px;
    row-gap: 100px;
    width: 100%;
    padding: 0 20px;
  }
  #root .education-page .section2 > .wrapper .box-wrapper {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .education-page .section2 > .wrapper .box-wrapper .left {
    margin-bottom: 48px;
  }
  #root .education-page .section2 > .wrapper .box-wrapper .left .number {
    font-size: 40px;
  }
  #root .education-page .section2 > .wrapper .box-wrapper .left .title {
    font-size: 20px;
  }
  #root .education-page .section2 > .wrapper .box-wrapper .left .text {
    font-size: 12px;
  }
  #root .education-page .section2 > .wrapper .box-wrapper .right {
    padding: 0 20px;
  }
  #root .education-page .section2 > .wrapper .last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .education-page .section3 {
    height: 740px;
    padding-top: 80px;
  }
  #root .education-page .section3 .title-wrapper {
    margin-bottom: 0px;
  }
  #root .education-page .section4 {
    padding-top: 120px;
    width: 100%;
    padding: 120px 20px 60px 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #root .education-page .section4 .linear {
    position: absolute;
    width: 100%;
    left: 0;
  }
  #root .education-page .section5 {
    height: 1270px;
    padding-top: 94px;
  }
  #root .education-page .section5 .title-wrapper {
    margin-bottom: 30px;
  }
  #root .education-page .section5 .mb-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #root .education-page .section5 .mb-title-wrapper > .text {
    width: 126px;
    margin-bottom: 48px;
    font-size: 14px;
    color: white;
    opacity: 0.4;
  }
  #root .education-page .section5 .mb-title-wrapper > .text > .line-text {
    margin-top: 14px;
    width: 100%;
    height: 3px;
    background-color: white;
  }
  #root .education-page .section5 .mb-title-wrapper > .text > span {
    font-weight: 800;
  }
  #root .education-page .section5 .mb-title-wrapper > .right {
    padding-right: unset;
  }
  #root .education-page .section5 .mb-title-wrapper > .hover {
    color: white;
    opacity: 1;
  }
  #root .education-page .section5 .section5-wrapper {
    height: 740px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper {
    margin: 0 20px;
    row-gap: 20px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .box {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .box .text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 231px;
    height: 102px;
    padding: 12px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .box .text-wrapper .text {
    font-size: 12px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .box .text-wrapper:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
    left: -12px;
    top: 40px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .box .name-wrapper .img {
    width: 63px;
    height: 63px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .box .name-wrapper .img > img {
    width: 36px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .box .name-wrapper .name {
    font-size: 12px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .big .text-wrapper {
    height: 129px;
  }
  #root .education-page .section5 .section5-wrapper .left .content-wrapper .big .text-wrapper:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
    left: -12px;
    top: 55px;
  }
  #root .education-page .section5 .view-wrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #root .education-page .section6 {
    height: 1114px;
    padding-top: 92px;
  }
  #root .education-page .section6 > .left .left-wrapper > .text {
    font-size: 20px;
  }
  #root .education-page .section6 > .left .left-wrapper > .sub {
    font-size: 13px;
  }
  #root .education-page .section6 > .left > .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #root .education-page .section6 > .left > .title .middle {
    margin-bottom: 34px;
  }
  #root .education-page .section6 > .left > .title .middle > .text {
    margin-bottom: 4px;
  }
  #root .education-page .section6 > .left > .title .middle > .line {
    width: 320px;
  }
  #root .education-page .section6 .right {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  #root .education-page .section6 .right .box {
    background-color: black;
    width: 330px;
    border-radius: 10px;
    height: 200px;
  }
  #root .education-page .section6 .right .box > video {
    padding-left: 8px;
    width: 320px;
    height: 198px;
  }
  #root .education-page .section7 {
    height: 682px;
    padding-top: 92px;
  }
  #root .education-page .section7 .section7-wrapper {
    width: 320px;
    row-gap: 20px;
  }
  #root .education-page .section7 .section7-wrapper .box > img {
    width: 120px;
  }
  #root .education-page .section8 {
    height: 2068px;
    padding-top: 94px;
  }
  #root .education-page .section8 > .background > .question {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper {
    width: 100%;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 169px;
       -moz-column-gap: 169px;
            column-gap: 169px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .left > .title {
    font-size: 24px;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .left > .text {
    font-size: 13px;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .right {
    margin-bottom: 42px;
  }
  #root .education-page .section8 > .background > .question > .title-wrapper > .right > img {
    width: 195px;
  }
  #root .education-page .section8 > .background > .question .input-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .education-page .section8 > .background > .question .input-wrapper > .left {
    margin-bottom: 20px;
  }
  #root .education-page .section8 > .background > .question .input-wrapper > .left .agreement-btn {
    width: 100%;
  }
  #root .education-page .section8 > .background > .question .input-wrapper .right .btn {
    width: 100%;
  }
  #root .education-page .section8 > .background > .question .text-box {
    width: 100%;
    margin: 0 20px;
    padding: 20px;
    height: 298px;
    background-color: #f5f6f8;
  }
  #root .education-page .section8 > .background > .question .text-box .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    row-gap: 10px;
  }
  #root .education-page .view-wrapper {
    height: 2554px;
  }
}