.fillter {
  display: flex;
  column-gap: 24px;
  .category {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 13px;

    & > .check-btn {
      position: relative;
      padding: 0;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #dbdbdb;
      background: none;
      cursor: pointer;
      margin-right: 4px;

      & > img {
        width: 16px;
        height: 16px;
      }
    }
    & > .title {
      font-weight: 400;
      font-size: 13px;
    }

    .checked {
      border: unset;
    }
  }
}
