#root {
  .tablet {
    display: none;
  }
  .education-page {
    .section {
      margin-bottom: 377px;
      .background {
        z-index: 10;
        position: relative;
        width: 100%;
        height: 819px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        background-image: url(/public/assets/education/pc/education-img.png);
        background-image: -webkit-image-set(
          url(/public/assets/education/pc/education-img.png) 1x,
          url(/public/assets/education/pc/education-img@2x.png) 2x,
          url(/public/assets/education/pc/education-img@3x.png) 3x
        );

        & > .title {
          text-align: center;
          font-weight: 700;
          font-size: 100px;
          margin-bottom: 10px;
        }
        & > .text {
          text-align: center;
          font-weight: 700;
          font-size: 30px;
          line-height: 140%;
        }
        .line {
          width: 2px;
          height: 430px;
          background-color: white;
          position: absolute;
          bottom: -220px;
        }
      }
    }

    .section1 {
      margin-bottom: 271px;
      z-index: 10;
      position: relative;
      width: 100%;
      height: 455px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      background-image: url(/public/assets/education/pc/section1-img.png);
      background-image: -webkit-image-set(
        url(/public/assets/education/pc/section1-img.png) 1x,
        url(/public/assets/education/pc/section1-img@2x.png) 2x,
        url(/public/assets/education/pc/section1-img@3x.png) 3x
      );

      .wrapper {
        width: 1440px;
        margin: 0 auto;
        position: relative;
        .plab {
          position: absolute;
          top: -170px;
          left: 50%;
          transform: translate(-50%, 0%);
        }

        .character {
          position: absolute;
          right: -100px;
          bottom: -200px;
        }

        & > .title {
          font-weight: 600;
          font-size: 30px;
          line-height: 140%;
          margin-bottom: 16px;
        }
        & > .text {
          font-weight: 500;
          font-size: 18px;
          line-height: 160%;
        }
      }
    }

    .section2 {
      margin-bottom: 94px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > .title {
        text-align: center;
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;
        margin-bottom: 89px;
      }

      & > .content {
        padding-top: 30px;
        width: 1146px;
        height: 1625px;
        background-color: #1b1d1e;
        border-radius: 88px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 97px;
        row-gap: 100px;
        position: relative;

        .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 410px;
          height: 389px;
          text-align: center;

          & > .img {
            z-index: 10;
            margin-bottom: 45px;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            background-color: #00d9b3;
            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
              width: 120px;
            }
          }
          & > .gradation {
            position: absolute;
            margin-bottom: 45px;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            background: rgba(0, 217, 179, 0.8);
            filter: blur(40px);
          }
          & > .title {
            margin-bottom: 18px;
            font-weight: 700;
            font-size: 30px;
          }
          & > .text {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
          }
        }
        .last {
          width: 530px;
        }
      }
    }

    .section3 {
      .title-wrapper {
        text-align: center;
        margin-bottom: 83px;

        & > .title {
          font-weight: 700;
          font-size: 80px;
          margin-bottom: 30px;
        }

        & > .text {
          font-weight: 600;
          font-size: 30px;
          line-height: 140%;
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  #root {
    .education-page {
      .section {
        margin-bottom: 146px;
        .background {
          height: 520px;
          background-image: url(/public/assets/education/tablet/education-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/education/tablet/education-img.png) 1x,
            url(/public/assets/education/tablet/education-img@2x.png) 2x,
            url(/public/assets/education/tablet/education-img@3x.png) 3x
          );

          & > .title {
            font-size: 60px;
          }
          & > .text {
            font-size: 20px;
          }
          .line {
            width: 2px;
            height: 182px;
            bottom: -60px;
          }
        }
      }

      .section1 {
        margin-bottom: 265px;
        height: 335px;

        .wrapper {
          width: 768px;

          .plab {
            top: -120px;
            width: 255px;
          }

          .character {
            right: -50px;
            bottom: -230px;
            width: 188px;
          }

          & > .title {
            font-size: 20px;
          }
          & > .text {
            font-size: 13px;
          }
        }
      }

      .section2 {
        margin-bottom: 292px;

        & > .title {
          font-size: 60px;
          margin-bottom: 62px;
        }

        & > .content {
          padding-top: 50px;
          width: 688px;
          height: 1333px;
          border-radius: 50px;
          column-gap: 50px;
          row-gap: 100px;

          .box {
            width: 268px;
            height: 302px;

            & > .img {
              margin-bottom: 30px;
              width: 130px;
              height: 130px;

              & > img {
                width: 86px;
              }
            }
            & > .gradation {
              margin-bottom: 30px;
              width: 130px;
              height: 130px;
            }
            & > .title {
              margin-bottom: 10px;
              font-size: 20px;
            }
            & > .text {
              font-size: 13px;
            }
          }
          .last {
            width: 320px;
          }
        }
      }

      .section3 {
        .title-wrapper {
          text-align: center;
          margin-bottom: 90px;

          & > .title {
            font-size: 60px;
            margin-bottom: 16px;
          }

          & > .text {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #root {
    .education-page {
      .section {
        margin-bottom: 161px;
        .background {
          height: 512px;
          background-image: url(/public/assets/education/mb/education-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/education/mb/education-img.png) 1x,
            url(/public/assets/education/mb/education-img@2x.png) 2x,
            url(/public/assets/education/mb/education-img@3x.png) 3x
          );

          & > .title {
            font-size: 50px;
          }

          .line {
            width: 2px;
            height: 221px;
            bottom: -100px;
          }
        }
      }

      .section1 {
        margin-bottom: 265px;
        height: 335px;

        background-image: url(/public/assets/education/mb/section1-img.png);
        background-image: -webkit-image-set(
          url(/public/assets/education/mb/section1-img.png) 1x,
          url(/public/assets/education/mb/section1-img@2x.png) 2x,
          url(/public/assets/education/mb/section1-img@3x.png) 3x
        );

        .wrapper {
          width: 360px;
          .plab {
            top: -80px;
            width: 215px;
          }

          .character {
            right: -0px;
            bottom: -150px;
            width: 127px;
          }

          & > .title {
            font-size: 18px;
          }
        }
      }

      .section2 {
        margin-bottom: 229px;

        & > .title {
          font-size: 50px;
        }

        & > .content {
          width: 328px;
          height: 2319px;
          border-radius: 20px;
          column-gap: unset;
          row-gap: 70px;

          .last {
            width: 288px;
          }
        }
      }

      .section3 {
        .title-wrapper {
          margin-bottom: 74px;

          & > .title {
            font-size: 50px;
          }

          & > .text {
            font-size: 18px;
          }
        }
      }
    }
  }
}
