#root {
  .main-page {
    span {
      font-weight: 700;
    }
    .main-section {
      z-index: 10;
      position: relative;
      width: 100%;
      height: 852px;
      display: flex;
      flex-direction: column;
      align-items: center;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .section-wrapper {
        position: relative;
        padding-top: 127px;
        width: 1326px;
        margin: 0 auto;
        height: 100%;
        & > .title-section {
          .title {
            font-weight: 700;
            font-size: 130px;
            line-height: 100%;
            margin-bottom: 30px;
          }
          .subtitle {
            font-weight: 700;
            font-size: 30px;
            line-height: 130%;
          }
          .text {
            position: absolute;
            bottom: 99px;
            right: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
          }
        }
      }
    }
    .main-section1 {
      margin-bottom: 358px;
      position: relative;
      background-color: black;
      .gradation-section {
        position: absolute;
        left: -300px;
        top: -300px;
      }

      .wrapper {
        width: 1326px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text-section {
          & > img {
            width: 136px;
            height: 28px;
            margin-bottom: 25px;
            position: relative;
            z-index: 10;
          }
          & > .text {
            font-weight: 400;
            font-size: 40px;
            line-height: 140%;
          }
        }
        .icon-section {
          & > img {
            width: 752px;
            height: 717px;
          }
        }
      }
    }
    .main-section2 {
      margin-bottom: 371px;
      position: relative;
      & > .title {
        text-align: center;
        font-weight: 700;
        font-size: 100px;
        margin-bottom: 156px;
      }
      .line {
        top: 130px;
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
        width: 1px;
        height: 248px;
        background-color: white;
      }
      .section2-background {
        width: 100%;
        height: 482px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        text-align: center;
        width: 100%;
        & > .text {
          font-weight: 400;
          font-size: 35px;
          line-height: 140%;
        }
      }
    }
    .main-section3 {
      width: 1326px;
      margin: 0 auto;
      margin-bottom: 402px;
      & > .title {
        text-align: center;
        font-weight: 700;
        font-size: 100px;
        line-height: 100%;
        margin-bottom: 132px;
      }
      .section3-content {
        display: flex;
        flex-direction: column;
        row-gap: 100px;

        .box-wrapper {
          width: 1166px;
          margin: 0 auto;
          display: flex;
          column-gap: 73px;
          position: relative;

          .left {
            width: 600px;
            height: 600px;
            background-color: #3e52e9;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon {
              width: 478px;
              position: absolute;
              bottom: 100px;
              z-index: 2;
            }
            .name {
              position: absolute;
              bottom: 50px;
              width: 511px;
            }
          }
          .green {
            background-color: #00d9b3;
          }
          .right {
            & > .title {
              font-weight: 700;
              font-size: 50px;
              line-height: 100%;
              margin-bottom: 167px;
            }
            & > .subtitle {
              height: 120px;
              font-weight: 700;
              font-size: 30px;
              line-height: 133%;
              margin-bottom: 20px;
            }
            & > .text {
              font-weight: 400;
              font-size: 18px;
              line-height: 160%;
              margin-bottom: 60px;
            }
            .more-btn {
              background-color: transparent;
            }
          }
        }
      }
    }
    .main-section4 {
      margin-bottom: 337px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .section4-background {
        width: 100%;
        height: 535px;
        display: flex;
        flex-direction: column;

        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        text-align: center;
        width: 100%;
        & > .text {
          font-weight: 400;
          font-size: 30px;
          line-height: 140%;
        }
        & > .title {
          margin-top: 40px;
          margin-bottom: 55px;
          font-weight: 700;
          font-size: 100px;
        }
      }
      .section4-history {
        & > img {
          width: 1212px;
          margin-right: 50px;
        }
      }
    }
    .main-section5 {
      .section5-background {
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 78px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        width: 100%;
        .title-wrapper {
          display: flex;
          column-gap: 150px;
          align-items: center;

          & > .left {
            & > .img {
              & > img {
                top: -80px;
                position: absolute;
                width: 103px;
              }
            }
            & > .title {
              margin-bottom: 115px;
              font-weight: 700;
              font-size: 100px;
              line-height: 100%;
            }
            & > .more-btn {
              background-color: transparent;
              margin-left: 7px;
            }
          }
          & > .right {
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            .content {
              & > .title {
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 35px;
              }
              & > .text {
                font-weight: 600;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  #root {
    .main-page {
      .main-section {
        background-image: url(/public/assets/main/pc/main-img.png);
        background-image: -webkit-image-set(
          url(/public/assets/main/pc/main-img.png) 1x,
          url(/public/assets/main/pc/main-img@2x.png) 2x,
          url(/public/assets/main/pc/main-img@3x.png) 3x
        );
      }

      // .main-section1 {
      //   //   background-image: url(/public/assets/main/pc/section1-overlay.svg);
      // }

      .main-section2 {
        .section2-background {
          background-image: url(/public/assets/main/pc/section2-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/main/pc/section2-img.png) 1x,
            url(/public/assets/main/pc/section2-img@2x.png) 2x,
            url(/public/assets/main/pc/section2-img@3x.png) 3x
          );
        }
      }

      .main-section4 {
        .section4-background {
          background-image: url(/public/assets/main/pc/section4-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/main/pc/section4-img.png) 1x,
            url(/public/assets/main/pc/section4-img@2x.png) 2x,
            url(/public/assets/main/pc/section4-img@3x.png) 3x
          );
        }
      }

      .main-section5 {
        .section5-background {
          background-image: url(/public/assets/main/pc/section5-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/main/pc/section5-img.png) 1x,
            url(/public/assets/main/pc/section5-img@2x.png) 2x,
            url(/public/assets/main/pc/section5-img@3x.png) 3x
          );
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  #root {
    .pc {
      display: none;
    }
    .main-page {
      .main-section {
        height: 457px;
        background-image: url(/public/assets/main/tablet/main-img.png);
        background-image: -webkit-image-set(
          url(/public/assets/main/tablet/main-img.png) 1x,
          url(/public/assets/main/tablet/main-img@2x.png) 2x,
          url(/public/assets/main/tablet/main-img@3x.png) 3x
        );

        .section-wrapper {
          padding-top: 83px;
          width: 687px;
          & > .title-section {
            .title {
              font-size: 60px;
              margin-bottom: 13px;
            }
            .subtitle {
              font-size: 20px;
            }
            .text {
              bottom: 52px;
              font-size: 13px;
              line-height: 150%;
            }
          }
        }
      }

      .main-section1 {
        margin-bottom: 123px;
        .gradation-section {
          display: none;
        }

        .wrapper {
          position: relative;
          padding-top: 71px;
          width: 687px;
          .gradation-tablet {
            position: absolute;
            left: -190px;
            top: -130px;
            & > img {
              width: 377px;
              height: 391px;
            }
          }

          .text-section {
            & > img {
              width: 107px;
              height: 21px;
              margin-bottom: 25px;
            }
            & > .text {
              font-size: 20px;
            }
          }
          .icon-section {
            & > img {
              width: 376px;
              height: 326px;
            }
          }
        }
      }

      // .main-section1 {
      //   //   background-image: url(/public/assets/main/pc/section1-overlay.svg);
      // }

      .main-section2 {
        margin-bottom: 200px;
        .section2-background {
          height: 317px;
          background-image: url(/public/assets/main/pc/section2-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/main/pc/section2-img.png) 1x,
            url(/public/assets/main/pc/section2-img@2x.png) 2x,
            url(/public/assets/main/pc/section2-img@3x.png) 3x
          );
          & > .text {
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
          }
        }

        & > .title {
          font-size: 40px;
          margin-bottom: 93px;
        }
        .line {
          top: 80px;
          height: 127px;
        }
      }

      .main-section3 {
        width: 687px;
        margin-bottom: 267px;
        & > .title {
          font-weight: 700;
          font-size: 50px;
          margin-bottom: 62px;
        }
        .section3-content {
          row-gap: 64px;

          .box-wrapper {
            width: 687px;
            column-gap: 29px;

            .left {
              position: relative;
              width: 335px;
              height: 335px;
              border-radius: 20px;

              .icon {
                width: 266px;
                bottom: 50px;
              }
              .name {
                bottom: 28px;
                width: 226px;
              }
            }

            .right {
              & > .title {
                font-size: 30px;
                margin-bottom: 78px;
              }
              & > .subtitle {
                height: 50px;
                font-size: 15px;
                margin-bottom: 20px;
              }
              & > .text {
                font-size: 13px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .main-section4 {
        .section4-history {
          & > img {
            width: 681px;
            margin-right: 0px;
          }
        }
        .section4-background {
          height: 323px;
          background-image: url(/public/assets/main/pc/section4-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/main/pc/section4-img.png) 1x,
            url(/public/assets/main/pc/section4-img@2x.png) 2x,
            url(/public/assets/main/pc/section4-img@3x.png) 3x
          );

          & > .text {
            font-size: 20px;
          }
          & > .title {
            font-size: 50px;
          }
        }
      }

      .main-section5 {
        .section5-background {
          padding-top: 46px;
          height: 318px;
          background-image: url(/public/assets/main/pc/section5-img.png);
          background-image: -webkit-image-set(
            url(/public/assets/main/pc/section5-img.png) 1x,
            url(/public/assets/main/pc/section5-img@2x.png) 2x,
            url(/public/assets/main/pc/section5-img@3x.png) 3x
          );

          .title-wrapper {
            display: flex;
            column-gap: 86px;
            align-items: center;

            & > .left {
              & > .img {
                & > img {
                  top: -30px;
                  width: 41px;
                }
              }
              & > .title {
                margin-bottom: 85px;
                font-weight: 700;
                font-size: 50px;
                line-height: 100%;
              }
              & > .more-btn {
                background-color: transparent;
                margin-left: 7px;
              }
            }
            & > .right {
              display: flex;
              flex-direction: column;
              row-gap: 30px;
              .content {
                & > .title {
                  margin-bottom: 5px;
                  font-size: 20px;
                }
                & > .text {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #root {
    .main-page {
      .main-section {
        height: 611px;
        background-image: url(/public/assets/main/mb/main-img.png);
        background-image: -webkit-image-set(
          url(/public/assets/main/mb/main-img.png) 1x,
          url(/public/assets/main/mb/main-img@2x.png) 2x,
          url(/public/assets/main/mb/main-img@3x.png) 3x
        );

        .section-wrapper {
          padding-top: 87px;
          width: 328px;
          & > .title-section {
            .title {
              font-size: 50px;
              margin-bottom: 8px;
            }
            .subtitle {
              font-size: 20px;
            }
            .text {
              bottom: 83px;
              font-size: 13px;
              line-height: 150%;
              left: 0;
            }
          }
        }
      }

      .main-section1 {
        margin-bottom: 123px;
        .gradation-section {
          display: none;
        }

        .wrapper {
          position: relative;
          padding-top: 71px;
          width: 687px;
          .gradation-tablet {
            position: absolute;
            left: -190px;
            top: -130px;
            & > img {
              width: 377px;
              height: 391px;
            }
          }

          .text-section {
            & > img {
              width: 107px;
              height: 21px;
              margin-bottom: 25px;
            }
            & > .text {
              font-size: 20px;
            }
          }
          .icon-section {
            & > img {
              width: 376px;
              height: 326px;
            }
          }
        }
      }
    }
  }
}
