#root {
  .partnea {
    padding-bottom: 316px;

    .content {
      width: fit-content;
      height: 218px;
      background-color: #242627;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 100px;

      .box {
        width: fit-content;
        display: flex;
        overflow: hidden;
        animation: rotateImages 9s linear infinite;

        &>img {
          width: fit-content;
        }

      }

    }
  }
}

@keyframes rotateImages {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-670%);
  }
}