#root {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: transparent;

    & > .wrapper {
      z-index: 10;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > .navbar {
        .logo-link {
          height: 32px;
          & > img {
            width: 149px;
          }
        }
      }
      & > .right {
        & > button {
          background-color: transparent;
        }
      }
    }
  }
  .open {
    background-color: black;
  }
  .black {
    transition: 0.3s ease-in-out;
    background-color: black;
  }

  .mb-header {
    z-index: 400;
    transition: top 0.3s ease-in-out;
    position: fixed;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;

    .mb-menu {
      width: 100%;
      color: white;
      padding: 23px 0;
      border-bottom: solid 1px #727272;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 23px;
    }
  }

  & > .open-header {
    top: 62px;
  }
}

@media screen and (min-width: 1440px) {
  #root {
    header {
      height: 70px;

      & > .wrapper {
        width: 1440px;
        padding: 0 55px;

        & > .navbar {
          display: flex;
          align-items: center;
          .pc-nav-wrapper {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            display: flex;
            align-items: center;

            column-gap: 70px;

            .pc-nav {
              font-weight: 700;
              font-size: 16px;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  #root {
    header {
      height: 62px;

      .wrapper {
        width: 100%;
        padding: 0 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #root {
    header {
      height: 62px;

      .wrapper {
        width: 100%;
        padding: 0 16px;
      }
    }
  }
}
